spring:
  application:
    name: destination-service
  datasource:
    url: jdbc:postgresql://localhost:5432/jalat_db
    username: postgres
    password: 123
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update